﻿@model Core.Areas.LibreNms.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model != null)
{
    @if (Model.Message != null && Model.Message != "")
    {
        <p>
            <strong>Message:</strong> @Model.Message
        </p>
    }
}
