@model Core.Areas.LibreNms.Models.IndexViewModel

<h2>LibreNMS</h2>

<h4>API Information</h4>
<p>Endpoint API URL: @Model.ApiUrl</p>
<p>Endpoint API Version: @Model.ApiVersion</p>

<hr />
<h4>Device</h4>
<a href="/LibreNms/Device/List">List all devices</a>

<h4>Services</h4>
<a href="/LibreNms/Service/List">List all services</a>
