@model Core.Areas.LibreNms.Models.Service.ListViewModel

<h2>LibreNMS</h2>

<h4>Service info</h4>

@foreach (var service in Model.Services)
{
    <h4>Service</h4>

    <label>Type:</label> @service.ServiceType
    <br />

    <label>Description:</label> @service.ServiceDesc
    <br />

    <label>Message: </label> @service.ServiceMessage
    <br />

    if(service.ServiceStatus == 0)
    {
        <label style="background-color: green">Status: </label> @service.ServiceStatus
        <br />
    }
    else
    {
        <label style="background-color: red">Status: </label> @service.ServiceStatus
        <br />
    }
}