﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner-wspr-1.jpg" alt="main" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/banner-wspr-2.jpg" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/banner-wspr-3.jpg" alt="Package Management" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/banner-wspr-4.jpg" alt="Microsoft Azure" class="img-responsive" />
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Welcome to: core.m3pgs.co.uk</h2>
        <ul>
            <li>Built using ASP.NET Core MVC on Linux and Windows</li>
            <li>Themed using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            <li>Primarily hosting useful tools and clients for cool APIs</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Current pages include</h2>
        <ul>
            <li>Overham API web client</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Stats</h2>
        <ul>
            <li>Server uptime: N/A</li>
        </ul>
    </div>
</div>
