﻿@model Core.Areas.Overham.Models.System.ErrorResultsViewModel

<h2>Overham</h2>

<h4>System error results</h4>

@Html.LabelFor(m => m.Symbolic)
@Html.DisplayFor(m => m.Symbolic)
<br />
@Html.LabelFor(m => m.Message)
@Html.DisplayFor(m => m.Message)
<br />
@Html.LabelFor(m => m.Id)
@Html.DisplayFor(m => m.Id)
