﻿@model Core.Areas.Overham.Models.System.ErrorViewModel

<h2>Overham</h2>

<h4>System error</h4>

@using (Html.BeginForm("ErrorResults", "System", FormMethod.Post))
{
    @Html.LabelFor(m => m.Id)
    @Html.TextBoxFor(m => m.Id)
    @Html.ValidationMessageFor(m => m.Id)
    <input type="submit" value="Submit" />
}