﻿@model Core.Areas.Overham.Models.QCode.LookupResultsViewModel

<h2>Overham</h2>

<h4>QCode lookup results</h4>

@Html.LabelFor(m => m.Tx)
@Html.DisplayFor(m => m.Tx)
<br />
@Html.LabelFor(m => m.Rx)
@Html.DisplayFor(m => m.Rx)
<br />
@Html.LabelFor(m => m.Authority)
@Html.DisplayFor(m => m.Authority)
