﻿@model Core.Areas.Overham.Models.QCode.LookupViewModel

<h2>Overham</h2>

<h4>QCode lookup</h4>

@using (Html.BeginForm("LookupResults", "QCode", FormMethod.Post)) {
@Html.LabelFor(m => m.Code)
@Html.TextBoxFor(m => m.Code)
@Html.ValidationMessageFor(m => m.Code)
<input type="submit" value="Submit" />
}