@model Core.Areas.LibreNms.Models.Device.ListViewModel

<h2>LibreNMS</h2>

<h4>Device info</h4>

@foreach (var device in Model.Devices)
{
    <h4>Device</h4>

    <label>Name:</label> @device.SysName
    <br />

    <label>Purpose:</label> @device.Purpose
    <br />

    <label>Last Polled:</label> @device.LastPolled
    <br />

    <label>Uptime: </label> @device.Uptime
    <br />

    if(device.Status == 1)
    {
        <label style="background-color: green">Status: </label> @device.Status
        <br />
    }
    else
    {
        <label style="background-color: red">Status: </label> @device.Status
        <br />
    }
}