﻿@model Core.Areas.Overham.Models.Band.LookupResultsViewModel

<h2>Overham</h2>

<h4>Band lookup results</h4>

@Html.LabelFor(m => m.Name)
@Html.DisplayFor(m => m.Name)
<br>
@Html.LabelFor(m => m.Country)
@Html.DisplayFor(m => m.Country)
<br>
@Html.LabelFor(m => m.Id)
@Html.DisplayFor(m => m.Id)
<br>
@Html.LabelFor(m => m.Lower)
@Html.DisplayFor(m => m.Lower)
<br>
@Html.LabelFor(m => m.Upper)
@Html.DisplayFor(m => m.Upper)
<br>