﻿@model Core.Areas.Overham.Models.Band.LookupViewModel

<h2>Overham</h2>

<h4>Band Lookup</h4>

@using (Html.BeginForm("LookupResults", "Band", FormMethod.Post))
{
    @Html.LabelFor(m => m.BandId)
    @Html.TextBoxFor(m => m.BandId)
    @Html.ValidationMessageFor(m => m.BandId)
    <input type="submit" value="Submit" />
}