﻿@model Core.Areas.Overham.Models.Band.SearchViewModel

<h2>Overham</h2>

<h4>Band search</h4>

@using (Html.BeginForm("SearchResults", "Band", FormMethod.Post))
{
    @Html.LabelFor(m => m.FrequencyInHz)
    @Html.TextBoxFor(m => m.FrequencyInHz)
    @Html.ValidationMessageFor(m => m.FrequencyInHz)
    <input type="submit" value="Submit" />
}