﻿@model Core.Areas.Overham.Models.Recordings.InfoResultsViewModel

<h2>Overham</h2>

<h4>Recordings info results</h4>

@Html.LabelFor(m => m.Band)
@Html.DisplayFor(m => m.Band)
<br />
@Html.LabelFor(m => m.Callsign)
@Html.DisplayFor(m => m.Callsign)
<br />
@Html.LabelFor(m => m.Direction)
@Html.DisplayFor(m => m.Direction)
<br />
@Html.LabelFor(m => m.HZFreq)
@Html.DisplayFor(m => m.HZFreq)
<br />
@Html.LabelFor(m => m.Length)
@Html.DisplayFor(m => m.Length)
<br />
@Html.LabelFor(m => m.Maidenhead)
@Html.DisplayFor(m => m.Maidenhead)
<br />
@Html.LabelFor(m => m.Mode)
@Html.DisplayFor(m => m.Mode)
<br />
@Html.LabelFor(m => m.Model)
@Html.DisplayFor(m => m.Model)
<br />
@Html.LabelFor(m => m.WhenStart)
@Html.DisplayFor(m => m.WhenStart)