﻿@model Core.Areas.Overham.Models.Recordings.InfoViewModel

<h2>Overham</h2>

<h4>Recordings info</h4>

@using (Html.BeginForm("InfoResults", "Recordings", FormMethod.Post))
{
    @Html.LabelFor(m => m.Id)
    @Html.TextBoxFor(m => m.Id)
    @Html.ValidationMessageFor(m => m.Id)
    <input type="submit" value="Submit" />
}