﻿@model Core.Areas.Overham.Models.Recordings.SearchResultsViewModel

<h2>Overham</h2>

<h4>Recordings search results</h4>

@Html.LabelFor(m => m.ResultCount)
@Html.DisplayFor(m => m.ResultCount)
<br />

@if (Model.Results.Count > 1)
{
<table border="1">
    <tr>
        <th>Duration</th>
        <th>HZFreq</th>
        <th>Id</th>
        <th>WhenStart</th>
        <th>Download</th>
    </tr>
    @foreach (var result in Model.Results)
    {
        <tr>

            <th>@result.Duration</th>
            <th>@result.HZFreq</th>
            <th>@result.Id</th>
            <th>@result.WhenStart</th>
            <th><a href="@Model.EndpointCurrentVersionUrl/recordings/download?id=@result.Id" target="_blank">Download</a></th>

        </tr>
    }
</table>
}
else
{
    <p>No results found.</p>
}