﻿@model Core.Areas.Overham.Models.Recordings.SearchViewModel

<h2>Overham</h2>

<h4>Recordings search</h4>

@using (Html.BeginForm("SearchResults", "Recordings", FormMethod.Post))
{
    @Html.LabelFor(m => m.StartTime)
    @Html.TextBoxFor(m => m.StartTime, new { @type = "date" })
    @Html.ValidationMessageFor(m => m.StartTime)
    <br />
    @Html.LabelFor(m => m.EndTime)
    @Html.TextBoxFor(m => m.EndTime, new { @type = "date" })
    @Html.ValidationMessageFor(m => m.EndTime)
    <br />
    @Html.LabelFor(m => m.StartHZ)
    @Html.TextBoxFor(m => m.StartHZ)
    @Html.ValidationMessageFor(m => m.StartHZ)
    <br />
    @Html.LabelFor(m => m.EndHZ)
    @Html.TextBoxFor(m => m.EndHZ)
    @Html.ValidationMessageFor(m => m.EndHZ)
    <br />
    <input type="submit" value="Submit" />
}