﻿@model Core.Areas.Overham.Models.Recordings.StatsResultsViewModel

<h2>Overham</h2>

<h4>Stats results</h4>

@Html.LabelFor(m => m.Available)
@Html.DisplayFor(m => m.Available)
<br>
@Html.LabelFor(m => m.Earliest)
@Html.DisplayFor(m => m.Earliest)
<br>
@Html.LabelFor(m => m.LastDump)
@Html.DisplayFor(m => m.LastDump)
<br>
@Html.LabelFor(m => m.Latest)
@Html.DisplayFor(m => m.Latest)
<br>
@Html.LabelFor(m => m.ModeAmCount)
@Html.DisplayFor(m => m.ModeAmCount)
<br>
@Html.LabelFor(m => m.ModeCWCount)
@Html.DisplayFor(m => m.ModeCWCount)
<br>
@Html.LabelFor(m => m.ModeDVCount)
@Html.DisplayFor(m => m.ModeDVCount)
<br>
@Html.LabelFor(m => m.ModeFmCount)
@Html.DisplayFor(m => m.ModeFmCount)
<br>
@Html.LabelFor(m => m.ModeLsbCount)
@Html.DisplayFor(m => m.ModeLsbCount)
<br>
@Html.LabelFor(m => m.ModeUsbCount)
@Html.DisplayFor(m => m.ModeUsbCount)
<br>
@Html.LabelFor(m => m.TotalCount)
@Html.DisplayFor(m => m.TotalCount)
<br>
@Html.LabelFor(m => m.UploadedCount)
@Html.DisplayFor(m => m.UploadedCount)