﻿@model Core.Areas.Overham.Models.Resistor.EncodeViewModel

<h2>Overham</h2>

<h4>Resistor encode</h4>

@using (Html.BeginForm("EncodeResults", "Resistor", FormMethod.Post))
{
    @Html.LabelFor(m => m.Ohms)
    @Html.TextBoxFor(m => m.Ohms)
    @Html.ValidationMessageFor(m => m.Ohms)
    <input type="submit" value="Submit" />
}