﻿@model Core.Areas.Overham.Models.Resistor.EncodeResultsViewModel

<h2>Overham</h2>

<h4>Resistor encode results</h4>

@Html.LabelFor(m => m.Band0Color)
@Html.DisplayFor(m => m.Band0Color)
<div id="rectangle" style="width:10px; height:10px; background-color:@Model.Band0Color"></div>
<br />
@Html.LabelFor(m => m.Band1Color)
@Html.DisplayFor(m => m.Band1Color)
<div id="rectangle" style="width:10px; height:10px; background-color:@Model.Band1Color"></div>
<br />
@Html.LabelFor(m => m.Band2Color)
@Html.DisplayFor(m => m.Band2Color)
<div id="rectangle" style="width:10px; height:10px; background-color:@Model.Band2Color"></div>