﻿@model Core.Areas.Overham.Models.Callsign.InfoResultsViewModel

<h2>Overham</h2>

<h4>Callsign info results</h4>

@Html.LabelFor(m => m.Region)
@Html.DisplayFor(m => m.Region)
<br />
@Html.LabelFor(m => m.Country)
@Html.DisplayFor(m => m.Country)
<br />
@Html.LabelFor(m => m.Callsign)
@Html.DisplayFor(m => m.Callsign)
<br />
@Html.LabelFor(m => m.Type)
@Html.DisplayFor(m => m.Type)
<br />
@Html.LabelFor(m => m.AmateurClass)
@Html.DisplayFor(m => m.AmateurClass)