﻿@model Core.Areas.Overham.Models.Callsign.InfoViewModel

<h2>Overham</h2>

<h4>Callsign info</h4>

@using (Html.BeginForm("InfoResults", "Callsign", FormMethod.Post)) {
    @Html.LabelFor(m => m.Callsign)
    @Html.TextBoxFor(m => m.Callsign)
    @Html.ValidationMessageFor(m => m.Callsign)
    <input type="submit" value="Submit"/>
}