﻿@model Core.Areas.Overham.Models.Callsign.ValidateViewModel

<h2>Overham</h2>

<h4>Callsign validator</h4>

@using (Html.BeginForm("ValidateResults", "Callsign", FormMethod.Post)) {
    @Html.LabelFor(m => m.Callsign)
    @Html.TextBoxFor(m => m.Callsign)
    @Html.ValidationMessageFor(m => m.Callsign)
    <input type="submit" value="Submit"/>
}