﻿@model Core.Areas.Overham.Models.Callsign.ValidateResultsViewModel

<h2>Overham</h2>

<h4>Callsign validator results</h4>

@Html.LabelFor(m => m.Valid)
@if (Model.Valid == true)
{
    <p>True</p>
}
else
{
    <p>False</p>
}
