@model Core.Areas.Overham.Models.IndexViewModel

<h2>Overham</h2>

<h4>API Information</h4>
<p>Endpoint API URL: @Model.ApiUrl</p>
<p>Endpoint API Version: @Model.ApiVersion</p>

<hr />
<h4>Band</h4>
<a href="/Overham/Band/Lookup">Lookup a band by Id</a>
<br />
<a href="/Overham/Band/Search">Search for a band by frequency</a>

<h4>Callsign</h4>
<a href="/Overham/Callsign/Validate">Validate a callsign</a>
<br />
<a href="/Overham/Callsign/Info">Dump all known information for a callsign</a>

<h4>Index</h4>
<a href="/Overham/Index/RoutesResults">List all available routes</a>

<h4>QCode</h4>
<a href="/Overham/QCode/Lookup">Lookup the meaning of a QCode</a>

<h4>Recordings</h4>
<a href="/Overham/Recordings/Info">Get info on a specific recording by it's Id</a>
<br />
<a href="/Overham/Recordings/Search">Search recordings by frequency and time ranges</a>
<br />
<a href="/Overham/Recordings/StatsResults">Show recording DB statistics</a>

<h4>Resistor</h4>
<a href="/Overham/Resistor/Encode">Get resistor color vales from ohms</a>

<h4>System</h4>
<a href="/Overham/System/Error">Lookup a system error code</a>
<br />
<a href="/Overham/System/PingResults">Send a ping to backend API and check it's response</a>
<br />
<a href="/Overham/System/UptimeResults">Get backend API uptime</a>